.values-section {
  position: relative;
  padding: var(--padding-huge) 0;
  .container {
    .bg,
    .bg2 {
      position: absolute;
      top: 20px;
      width: 10vw;
      height: 300px;
      right: 5vw;
      z-index: -1;
      min-width: 130px;
      @media (max-width: 768px) {
        right: -5vw;
      }
      svg {
        overflow: visible;
        circle {
          fill: rgba(0, 150, 210, 0.8);
          &.only {
            transform: translateX(-20vw);
          }
        }
      }
    }
    .bg2 {
      right: inherit;
      top: inherit;
      bottom: -165px;
      left: -50px;
      svg circle.only {
        transform: translateX(0) translateY(-10vh);
      }
    }
  }

  @media (max-width: 1080px) {
    margin-bottom: var(--padding-large) 0;
  }
  &.loading {
    .swiper-container {
      .position.active {
        opacity: 0;
      }
      .swiper-wrapper .swiper-slide {
        .title {
          opacity: 0;
        }
        .description {
          opacity: 0;
        }
      }
      .swiper-button-next {
        opacity: 0;
      }
    }
  }
  .swiper-container {
    width: 100%;
    position: relative;
    padding: calc(var(--padding-huge) * 1.5) 0 var(--padding-huge);

    .swiper-wrapper {
      .swiper-slide {
        padding: 0 var(--padding-small);
        p {
          margin-bottom: var(--padding-smaller);
        }
        .title {
          font-weight: 600;
          font-size: 28px;
          max-width: 450px;
          transition: opacity 350ms $smoothTransition;
          transition-delay: 400ms;
        }
        .description {
          font-size: 18px;
          color: $palefont;
          max-width: 510px;
          transition: opacity 350ms $smoothTransition;
          transition-delay: 400ms;
        }
        &.swiper-slide-next,
        &.swiper-slide-prev {
          opacity: 0.5;
        }
        &.swiper-slide-active {
        }
      }
    }
    .position {
      position: absolute;
      top: 100px;
      left: calc((100vw - 1240px) / 2);
      font-size: 98px;
      font-weight: 700;
      color: rgba(0, 150, 210, 1);
      opacity: 0;
      transition: transform 500ms $smoothTransition,
        opacity 350ms $smoothTransition;
      transform: translate(50px, 30px);
      @media (max-width: 1260px) {
        left: calc(0px + var(--padding-smaller));
      }
      &.active {
        opacity: 0.7;
        transform: translate(0px, 0px);
      }
      &.out {
        transform: translate(-100px, -50px);
      }
    }
    .swiper-button-next {
      min-width: 188px;
      width: 188px;
      position: absolute;
      bottom: 30px;
      left: 50vw;
      padding: var(--padding-small);
      transition: opacity 300ms $smoothTransition;
      transition-delay: 600ms;
      @media (max-width: 560px) {
        right: 4vw;
        left: inherit;
      }
      &:hover {
        cursor: pointer;
        .wrap {
          #straight {
            stroke-dashoffset: 200;
          }
          #topArrow {
            stroke-dashoffset: -20;
          }
          #bottomArrow {
            stroke-dashoffset: -20;
          }
          .pos {
            color: rgba(0, 150, 210, 1);
          }
        }
      }
      .wrap {
        position: relative;
        #topArrow,
        #bottomArrow {
          transition: stroke-dashoffset 550ms $smoothTransition;
        }
        #topArrow {
          stroke-dasharray: 10;
        }
        #bottomArrow {
          stroke-dasharray: 10;
        }
        #straight {
          transition: stroke-dashoffset 350ms $smoothTransition;
          stroke-dasharray: 100;
          stroke-dashoffset: 0;
        }
        .pos {
          position: absolute;
          bottom: -20px;
          left: -10px;
          font-size: 16px;
          color: $palefont;
        }
      }
    }
  }
}
